* {
  color: #252525;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button-object-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.buttons {
  position: relative;
  top: 0;
  display: flex;
  justify-content: flex-start;
  width: 86%;
  z-index: 4;
  top: 2px;
  height: fit-content;
}

.deti,
.deti_add {
  box-sizing: border-box;
  width: 380px;
  height: 77px;
  background: #f1f1f1;
  border: 2px solid #6a6a6a;
  border-radius: 50px 50px 0px 0px;
  cursor: pointer;
  text-align: center;
  line-height: 77px;
  font-size: 32px;
  text-decoration: none;
  color: #000000;
}

.deti_add {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.deti_active,
.deti_add_active {
  background: #ffffff;
  border-bottom: none;
}

.object {
  box-sizing: border-box;
  width: 86%;
  height: 1450px;
  background: #ffffff;
  border: 2px solid #000000;
  margin-bottom: 2%;
  border-radius: 0px 50px 50px 50px;
}

.object_full_top_border {
  border-top: 2px solid #000;
}

.buttons .deti_active,
.buttons .deti_add_active {
  position: relative;
  z-index: 1;
}

.object {
  position: relative;
  z-index: 0;
}

.photo_parametrs {
  display: flex;
  gap: 120px;
  padding-left: 130px;
  padding-top: 40px;
}

.profile_photo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
}

.parametr {
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.alert {
  position: relative;
  left: 36%;
  height: 41px;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffe484;
  background: #ffe484;
  border-radius: 20.5px;
  font-size: 32px;
  cursor: pointer;
  padding: 0 10px;
}

.no_underline {
  text-decoration: none;
}

.razdeli {
  display: flex;
  justify-content: space-around;
  padding-top: 3%;
}

.programi {
  width: 405px;
  height: 100px;
  box-sizing: border-box;
  background: #f1f1f1;
  border: 2px solid #6a6a6a;
  border-radius: 44px;
  font-size: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.chitannya {
  width: 410px;
  height: 100px;
  box-sizing: border-box;
  background: #f1f1f1;
  border: 2px solid #6a6a6a;
  border-radius: 44px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.chitannya_text {
  display: flex;
  flex-direction: column;
}

.programi_active {
  background: #ffcebe;
  border: 2px solid #fa855f;
}

.igri_active {
  background: #bbffbd;
  border: 2px solid #46e64b;
}

.chitannya_active {
  background: #74cdff;
  border: 2px solid #25a7f0;
}

.programi_active img,
.chitannya_active img {
  width: 82px;
  height: 59px;
}

.alphabet {
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
  justify-content: center;
  margin-top: 4%;
  padding-bottom: 6%;
}

.selectedLetter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big_letter {
  font-size: 200px;
}

.big_word {
  font-size: 90px;
}

.letterButton {
  box-sizing: border-box;
  width: 283px;
  height: 165px;
  background: #f1f1f1;
  border: 2px solid #6a6a6a;
  border-radius: 44px;
  cursor: pointer;
  font-weight: 500;
  font-size: 90px;
  line-height: 103.4%;
}

.image_letter {
  width: 100%;
  height: 300px;
  padding-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next_container {
  display: flex;
  justify-content: flex-end;
  padding-right: 3%;
  padding-bottom: 3%;
}

.back_container {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  padding-bottom: 3%;
}

.next {
  width: 439px;
  height: 100px;
  box-sizing: border-box;
  background: #ffcebe;
  border: 2px solid #fa855f;
  border-radius: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.text_on_next {
  font-weight: 500;
  font-size: 32px;
  line-height: 33px;
}

.arrow {
  width: 66px;
}

.selected_letter {
  background: #ffcebe;
  border: 2px solid #fa855f;
}

.no_decoration {
  text-decoration: none;
}
