.footer {
  background-color: #ffe484;
  padding: 20px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 0 20px;
  gap: 450px;
}

.left {
  font-size: 32px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.image_logo {
  width: 169px;
  height: 46px;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  white-space: nowrap;
  gap: 30px;
}
